    <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817220619220-rrle7pvhvlc9g3fpr71pdc8u4aba5mmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817220619220-rrle7pvhvlc9g3fpr71pdc8u4aba5mmi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817220619220-lt24hi2qim0d4382dvcjaotdcpfh0cqt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAplhBPVjW6eoMhzio2FFIsvGypOvmosPY</string>
	<key>GCM_SENDER_ID</key>
	<string>817220619220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inpaket.inpaket</string>
	<key>PROJECT_ID</key>
	<string>inpaket-otp</string>
	<key>STORAGE_BUCKET</key>
	<string>inpaket-otp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817220619220:ios:939fd64bbee7fa2d72e441</string>
</dict>
</plist>